<% provide(:title, @task.task_name) %>

<div class="col-md-6 col-md-offset-3">
	<header class="text-center">
		<h3><%= @task.task_name %></h3>
		<h2>Average Accuracy: <%= task_accuracy(@task) %></h2>
		<hr>
	</header>
	<ul>
		<% for choice in @task.choices %>
			<li>
				<h4><%= question_no = TaskChoice.find_by(task_id: @task.id, choice_id: choice.id).question_no %>
				. 
				<%= choice.question %></h4>
				<ul>
					<li id="choice_a">A. <%= choice.a %></li>
					<li id="choice_b">B. <%= choice.b %></li>
					<li id="choice_c">C. <%= choice.c %></li>	
					<li id="choice_d">D. <%= choice.d %></li>
					<li>Answer: <%= choice.answer %></li>
					<li>Knowledge: <%= choice.knowledge %></li>
				</ul>
			</li>
			<hr>
		<% end %>
	</ul>

	<%= link_to "result", result_task_path, class: "btn btn-info " %>
</div>