<% provide(:title, @task.task_name) %>

<p>
	<%= @task.task_name %>
</p>

<p>
	Average Accuracy: <%= task_accuracy(@task) %>
</p>

<ul>
	<% for choice in @task.choices %>
		<li>
			<%= TaskChoice.find_by(task_id: @task.id, choice_id: choice.id).question_no %>
			. 
			<%= choice.question %>
			<ul>
				<li>A. <%= choice.a %></li>
				<li>B. <%= choice.b %></li>
				<li>C. <%= choice.c %></li>	
				<li>D. <%= choice.d %></li>
				<li>Answer: <%= choice.answer %></li>
			</ul>
		</li>
	<% end %>
</ul>